/* Remove margens e espaçamentos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Configura o corpo da página */
body {

    /* Fonte utilizada */
    font-family: Arial, sans-serif;

    /* Cor de fundo */
    background-color: #f2f4f7;

    /* Cor padrão dos textos */
    color: #222;

}


/* Área que ocupa a tela inteira */
.login-container {

    /* Altura mínima igual à altura da tela */
    min-height: 100vh;

    /* Ativa o Flexbox */
    display: flex;

    /* Centraliza horizontalmente */
    justify-content: center;

    /* Centraliza verticalmente */
    align-items: center;

    /* Espaçamento interno */
    padding: 20px;

}


/* Caixa branca do login */
.login-box {

    /* Largura máxima */
    width: 100%;

    max-width: 400px;

    /* Fundo branco */
    background-color: white;

    /* Espaçamento interno */
    padding: 40px;

    /* Arredonda os cantos */
    border-radius: 12px;

    /* Sombra */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

}


/* Título */
.login-box h1 {

    text-align: center;

    margin-bottom: 10px;

    font-size: 32px;

}


/* Subtítulo */
.subtitle {

    text-align: center;

    color: #666;

    margin-bottom: 30px;

}


/* Cada grupo de campo */
.input-group {

    margin-bottom: 20px;

}


/* Texto dos campos */
.input-group label {

    display: block;

    margin-bottom: 8px;

    font-weight: bold;

}


/* Campos de entrada */
.input-group input {

    width: 100%;

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 8px;

    font-size: 16px;

    outline: none;

}


/* Campo quando o usuário clicar nele */
.input-group input:focus {

    border-color: #333;

}


/* Botão */
button {

    width: 100%;

    padding: 13px;

    border: none;

    border-radius: 8px;

    background-color: #222;

    color: white;

    font-size: 16px;

    cursor: pointer;

}


/* Quando passar o mouse */
button:hover {

    background-color: #444;

}


/* Mensagem de erro */
#mensagemErro {

    color: #d00000;

    text-align: center;

    margin-bottom: 15px;

}


/* Área do cadastro */
.cadastro-link {

    text-align: center;

    margin-top: 25px;

}


/* Texto */
.cadastro-link p {

    margin-bottom: 8px;

    color: #666;

}


/* Link */
.cadastro-link a {

    color: #222;

    font-weight: bold;

    text-decoration: none;

}


/* Mouse sobre o link */
.cadastro-link a:hover {

    text-decoration: underline;

}